@import 'libraries'
@import 'variables'
@import 'fonts'
@import 'base'
@import 'animations'

#title
  color: $dark
  letter-spacing: 2px
  padding-bottom: 20px
  font:
    size: 18px
    weight: 700
  text:
    align: center
    transform: uppercase

#size-selector
  float: left

  select
    -webkit-appearance: none
    background: white
    padding: 10px
    text-align: center

#config
  clear: both

  *
    display: inline-block

#upload
  float: right

  p
    padding-right: 30px

  input[type='file']
    width: 300px
